a {
  text-decoration: none;
  color: #FD0070;
}

button a {
  color: white;
}

button a:hover {
  color: white;
}

.card-text a {
  color: black;
  font-weight: 500;
}

.card-text a:hover{
  letter-spacing: 0.2rem;
  transition: 700ms;
  font-weight: bold;
}
