.navbar-lewagon {
  justify-content: space-between;
  background: #292828;
  padding: 10px 5px ;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
