.overlay {
  bottom: 0;
  left: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 400px;
  height: 100%;
  transition: .5s ease;
  opacity: 1;
  font-size: 20px;
}

.design:hover .overlay {
  opacity: 0;
  width: 100%;
}
